<!-- INCLUDE overall_header.html -->

<div id="spot_form">

<!-- IF LOGGED_IN == 1 -->
		
<form action="{ROOT_URL}" method="post" enctype="multipart/form-data">
	<h3>Spot</h3>
	
	<br class="clear" />
	
	<blockquote>
		<p>Velden gemarkeerd met een sterretje zijn verplicht. Bij het invoeren van plaatsnaam graag afsluiten met 'Nederland'. Dit voorkomt dat de plaatsnaam wordt gekoppeld aan plaatsen in het buitenland.</p>
	</blockquote>
	
    <div class="form_field">
         <label for="license_plate_input">Kenteken &#42;:</label>
         <input type="text" name="license_plate_input" id="license_plate_input" value="" />
		<br class="clear" />
    </div>
    <div class="form_field">
		<label for="location_input">Lokatie &#42;:</label>
		<input type="text" name="location_input" id="location_input" value="" />
		<br class="clear" />
    </div>
    <div class="form_field">
         <label for="date_input">Datum &#42;:</label>
         <input type="text" name="date_input" value="">
		<br class="clear" />
    </div>
    <div class="form_field">
         <label for="comments_input">Opmerkingen:</label>
         <input type="text" name="comments_input" value="">
		<br class="clear" />
    </div>
    <div class="form_field">
    	<label for="photoupload">Foto:</label>
		<input type="file" value="" name="photoupload" />
		<br class="clear" />
	</div>
	<div class="form_field">
	    <input type="submit" name="submit" value="Submit" class="input" />
		<br class="clear" />
    </div>
</form>
<!-- ELSE -->
<h1>Welkom</h1>
   
<p><strong>Roadsterspot</strong>  is een webapplicatie voor <strong>het spotten van Nederlandse Smart Roadsters.</strong> Na een account aangemaakt te hebben kan je zelf gespotte Roadsters toevoegen met foto, of zoeken hoevaak je eigen roadster gespot is. Uiteindelijk hopen we meer inzicht te krijgen van het aantal roadsters wat in Nederland rijd. Meld je aan en start spotting!</p>

<h3>Registeren</h3>
<p>Voor het gebruik van de webapplicatie is registratie vereist. Elke registratie moet goedgekeurd worden door de beheerster, dit zal niet altijd direct gedaan kunnen worden. Bij misbruik van de applicatie kan een aanmelding ongedaan worden gemaakt.</p>

<h3>Informatie</h3>
<p>Er word bij de spots geen specifieke locatie vrij gegeven. Daarnaast staat er informatie als kenteken, type, kleur, datum en eventueel een foto. De informatie is pas toegankelijk na inloggen. Ook word er, behalve bij houden hoeveel roadsters rond rijden, niets met de informatie gedaan. Indien de eigenaar dit wenst kan zijn of haar email adres bij de roadster vermeld worden. Hiervoor dient gemaild te worden met <a href="mailto:webmaster@smartiechick.nl">webmaster@smartiechick.nl</a></p>

<p>Roadsterspot heeft geen club of forum functie, daarvoor wil ik graag verwijzen naar <a href="http://www.smartforum.nl" target="_blank">Smartforum.nl</a>.</p>
<!-- ENDIF -->
</div>
<!-- INCLUDE overall_footer.html -->