<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>RoadsterSpot</title>
	<meta name="description" content="Smart Roadster Spotter">
	<meta name="author" content="Hidde Jansen">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

	<script src="js/libs/modernizr-1.7.min.js"></script>
	<script type="text/javascript">
		//Some geolocation code
	
		function get_location()
		{
			if (Modernizr.geolocation) 
			{
  				navigator.geolocation.getCurrentPosition(receive_map_position, handle_location_error);
			}
			else
			{
  				// no native support; fuck your shitty browser
    		}
		}
		
		function receive_map_position(position)
		{
			var latitude = position.coords.latitude;
  			var longitude = position.coords.longitude;
			// let's show a map or do something interesting!
		}
		
		function handle_location_error(err)
		{
			if (err.code == 1)
			{
  				// user said no!
  		  	}
		}
	</script>
</head>
<body>