<!doctype html>
<!--[if lt IE 7 ]> <html lang="nl" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="nl" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="nl" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="nl" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="nl" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>roadsterSpot</title>
	<meta name="description" content="Smart Roadster Spotter">
	<meta name="author" content="Hidde Jansen">
	<!-- Just so you know, I don't like this pink colour was not my choice.
		It is revolting, I know. Don't judge me, I tried to make something 
		pretty with the materials given. 
		-Hidde Jansen
	-->
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="{ROOT_URL}favicon.ico">
	<link rel="apple-touch-icon" href="{ROOT_URL}apple-touch-icon.png">
	<link rel="stylesheet" href="{ROOT_URL}styles/default/css/style.css?v=2">
	<link href='http://fonts.googleapis.com/css?family=Lekton:regular,italic,bold&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Amaranth:regular,regularitalic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin:regular,regularitalic,500,500italic,600,600italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bangers&v1' rel='stylesheet' type='text/css'>
	<script src="{ROOT_URL}js/libs/modernizr-1.7.min.js"></script>
	<script type="text/javascript">
		//Some geolocation code
	
		function get_location()
		{
			if (Modernizr.geolocation) 
			{
  				navigator.geolocation.getCurrentPosition(receive_map_position, handle_location_error);
			}
			else
			{
  				// no native support; fuck your shitty browser
    		}
		}
		
		function receive_map_position(position)
		{
			var latitude = position.coords.latitude;
  			var longitude = position.coords.longitude;
			
			// Set the location in the input field
			document.getElementById("location_input").value = latitude + ',' + longitude;
		}
		
		function handle_location_error(err)
		{
			if (err.code == 1)
			{
  				// user said no!
				alert('Can\'t let you do that...');
  		  	}
			else if (err.code == 2)
			{
  				// Unavailable
				alert('Location currently unavailable');
  		  	}
			else if (err.code == 3)
			{
  				// Unavailable
				alert('Location currently unavailable. (Timeout)');
  		  	}
			else
			{
				//Idunno something went wrong
				alert('YOU BROKE IT');
			}
		}
	</script>
</head>
<body>
	<div id="header">
		<div class="wrap">
			<a href="{ROOT_URL}" id="logo">roadsterSpot</a>
			<a href="http://smartiechick.nl/index.htm"><img src="{ROOT_URL}styles/default/images/logo.png" alt="Smartiechick" id="logo_smartiechick"/></a>
		</div>
	</div>
	
	<div id="mainwrap">
		<div class="rightbar">
		<!-- IF LOGGED_IN == 0 -->
			<div class="form_field">
				<h3 class="left" id="loginheading">Login</h3>
				<a href="{ROOT_URL}signup/" class="right">Registreer</a>
				<br class="clear"/>
			</div>
			<form action="{ROOT_URL}login/" method="post">
				<div class="form_field">
					<label for="username_login_input">Gebruikersnaam:</label>
					<input type="text" name="username_login_input" id="username_login_input" value="" />
				</div>
				<div class="form_field">
					<label for="password_login_input">Wachtwoord:</label>
					<input type="password" name="password_login_input" id="password_login_input" value="" />
				</div>
			
				<div class="form_field">
					<input type="submit" name="submit" value="submit" class="input" />
				</div>	
			</form>
		<!-- ELSE -->
			<div class="form_field">
				<h3 class="left" id="loginheading">Welkom terug, <a href="{ROOT_URL}view/user/{USER_ID}">{USER_NAME}</a>!</h3>
				<a href="{ROOT_URL}logout/" class="right">Log uit</a>
				<br class="clear"/>
			</div>
		<!-- ENDIF -->
		</div>
		<div class="leftbar">