<!-- INCLUDE overall_header.html -->
<!-- IF SUBMIT_SUCCESS == 1 -->
    <h1>Account Created</h1>
    <p>Je account is aangemaakt maar moet nog worden goedgekeurd door een administrator.</p>
<!-- ELSE -->
<div id="signup_form">
	<h1>Maak een nieuwe account</h1>
	<form action="{ROOT_URL}signup/" method="post">
		<dl>
			<dt><strong>Gebruikersnaam:</strong></dt>
			<dd><input type="text" name="username_input_field" value=""></dd>
			
			<dt><strong>E-mail:</strong></dt>
			<dd><input type="text" id="email" name="email_input_field" value="" /></dd>
			
			<dt><strong>Wachtwoord:</strong></dt>
			<dd><input type="password" name="password_input_field" value=""></dd>
			
		</dl>
		<br />
		<input type="submit" name="submit" value="Registreer" />
	</form>
</div>
<!-- ENDIF -->
<br class="clear"/>
<!-- INCLUDE overall_footer.html -->